@import "fonts.css";
#barra-status{
	background: -webkit-gradient(linear, left top, right top, from(#5ABBE5), to(#30566B));
	padding: 14%;
}
.img-icon-inicial{
	margin: 0px 0 45px 51px;
}
.nav-menu{
	color: #fff;
    width: 100%;
    background-color: #30566B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	height: auto;
}
.campo-busca{
	background-color: white !important;
}
.barra-busca{
	background-color: #5ABBE5;
    height: 191px;
}
.categorias{
	background-color: #5ABBE5;
}
.menu-cima{
	background-color: #5ABBE5;
}
.menu-baixo{
	background-color: #305C6B;
}
#barrinha{
	background-color: #5ABBE5;
	margin-top: 20%;
	margin-left: 50%;
    padding: 1.5% 1.5% 50% !important;
    width: 0px;
}
#barrinha2{
	background-color: #5ABBE5;
	margin-top: 25%;
	margin-left: 50%;
    padding: 1.5% 3% 125% !important;
    width: 0px;
	border-radius: 10px;
}
#barrinha3{
	background-color: #5ABBE5;
	margin-top: 20%;
	margin-left: 50%;
    padding: 1.5% 1.5% 100% !important;
    width: 0px;
}
#barrinha4{
	background-color: #FFF;
	margin-top: 20%;
	margin-left: 50%;
    padding: 3% 3%  !important;
    width: 0px;
	height: 50px;
	border-radius: 10px;

}
#barrinha5{
	background-color: #5ABBE5;
	margin-top: 25%;
	margin-left: 50%;
    padding: 1.5% 6% 125% !important;
    width: 0px;
	border-radius: 10px;

}
#titulo{
	font-style: bolder;
	font-family: 'Exo 2-Bold';
	font-size: 80px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	position:relative !important;
	top: 50%;
	transform: translateY(-50%); 
}
.textobotao{

		text-align: center;
}
.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 4.3rem;
    line-height: normal;
	align-items: center;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #30566B;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-family: 'Exo 2-Bold';
    height: 61px;
    line-height: 28px;
	align-items: center;
}
#container3{
	margin-top: 14% !important;
}
#container2{
	margin-top: 14% !important;
}
.container{
	margin-top: 10% !important;
}
.categorias{
	background-color: #5ABBE5;
}

/* IPHONE X+ SCREEN FIX FOR MATERIALIZE
// See: https://css-tricks.com/the-notch-and-css/
*/
.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* CUSTOM FIXED FOOTER FOR MATERIALIZE
*/
.footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}


footer {
}
	
	.justify {
		
		text-align: center;
		display:table;
		overflow: hidden;
		margin: 0 auto;
}
			li {
				margin-left:auto;
				margin-right:auto;
				
				width: 190px;
			}
			
.img-icon{
	height: 70px;
	text-align: center;
	justify-content: center;
	margin-top: 10%;
	margin-bottom: 0;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animation: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
	top: -25px;
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #03a9f4;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.bubble::after {
  	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.editarperfil{
	font-size: 300%;
    text-align: center !important;
    margin-top: 15%;
    color: #FFF;
    margin-left: -30%;
}
h2{
	font-weight: 500;
	padding: 61px 0;
	font-family: 'Exo 2-Bold';
    text-align: center;
	color: #323B43;
	font-size: 100px;
}

h4{
	font-style: normal;
	font-weight: bold;
	font-family: Roboto-Bold;
	margin-bottom: 45px;
    font-size: 42px;
}

h6{
	font-style: bold;
	font-family: 'Exo 2-Bold';
    text-align: left;
    padding: 24px 0;
    font-size: 50px;
	color: #30566B;
}
h5{
	font-style: bold;
	font-family: 'Exo 2-Semi';
    text-align: center;
    padding: 24px 0;
    font-size: 40px;
	color: #FFFF;
}
h8{
	font-style: medium;
	font-family: 'Exo 2-Medium';
    text-align: center;
    font-size: 250%;
	color: #323B43;
	margin-top: 20% !important;
}
h7{
	font-style: bold;
	font-family: 'Exo 2-Semi';
    text-align: left;
    font-size: 30px;
	color: #323B43;
	margin-bottom: 10px;
}
h3{
	font-style: bold;
	font-family: 'Exo 2-Bold';
    text-align: center;
    font-size: 300%;
	color: #323B43;
	margin-top: 10%;
	margin-bottom: 20%;

}
.pessoa{
	font-style: bold;
	font-family: 'Exo 2-Semi';
    font-size: 350%;
	color: #323B43;
	margin-left: -30%;
	margin-top: 20%;
}
button{
	background-color: #30566B;
	border-radius: 10% !important;
	border-style: none;
	}
p{
    margin: 0;
}
b{
	font-weight: bold !important;
}


button:focus{
}


.Button-noAbso{
	position: static;
	filter: drop-shadow(0px 3px 6px rgba(52, 60, 88, 0.4));
}

.ButtonS2{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	top: 70px;
	left: 50px;
	box-shadow: 0px 3px 6px rgba(52, 60, 88, 0.4);
}

.LabelS2{
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	font-size: 36px;
	font-weight: bolder;
	top: 215px;
	left: 55px;
}

.ButtonS2-cond{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	top: 70px;
	left: calc(100vw - 350px);
	box-shadow: 0px 3px 6px rgba(52, 60, 88, 0.4);
}


.LabelS2-cond{
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	font-size: 36px;
	font-weight: bolder;
	top: 215px;
	left: calc(100vw - 395px);
	text-align: center;
	line-height: 1.2;
}

.ButtonS2-mente{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 auto !important;
	top: 430px;
	box-shadow: 0px 3px 6px rgba(52, 60, 88, 0.4);
}

.LabelS2-mente{
	position: absolute;
	padding: 20px;
	margin: 0 auto !important;
	font-size: 36px;
	font-weight: bolder;
	bottom: -140px;
	left: calc(100vw - 65vw);
}

.modal{
	border-radius: 100px !important;
}

.modal-content{
	padding: 150px !important;
	text-align: center;
}

.modal-content h2{
	padding-bottom: 25px !important;
	font-weight: bold !important;
	color: black;
}

.modal-content p{
	padding-bottom: 25px !important;
}

.modal-content a{
	font-size: 26px;
}

.images{
	padding: 46px 0;
}
.div-sombra{
	border-radius: 28px;
    padding-bottom: 37px !important;
    position: relative;
}
.linha{
	border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C4C4C4;
    padding-bottom: 25px;
}

.button-verde{
    background-color: rgb(48,86,107,1);
    opacity: 100%;
    border-radius: 22px !important;
    border: solid;
    border-color: #30566B;
    font-family: 'Exo 2-Semi' !important;
	font-size: 40px;
    color: white;
    cursor: pointer;
    position: relative !important;
    filter: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button-verde:focus{
     background-color:rgb(48,86,107,0.3);
}
.button-cinza{
    background-color: white;
    opacity: 100%;
    border-radius: 22px !important;
    border: solid;
    border-color: #666E75;
    font-family: 'Exo 2-Semi' !important;
	font-size: 40px;
    color: #666E75;
    cursor: pointer;
    position: relative !important;
    filter: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button-cinza:focus{
     background-color: white;
}
.circulo{
    margin: 14px 0;
}
.row .lista{
    padding-bottom: 0;
    margin: 0 auto;
}
/*modal sessao 3 dor aguda*/
.modal.modal-sessao3{
    border-radius: 50px 50px 0 0 !important;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0 auto;
    width: 100%;
    max-height: 99%;
    border-radius: 0;
    will-change: bottom, opacity;
}
.modal-content.sessao3{
    padding: 65px 1px !important;
    text-align: left;
}

#modal1 h4{
    font-size: 59px;
}

#modal2 h4{
    font-size: 59px;
}
.fechar-modal{
    padding: 0 70px 0 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.assetstats{
	width: 100% !important;
	padding-top: 15px !important;
}
/*Classes para correção de espaçamento*/

.removeMarginB{
	margin-bottom: 0 !important;
}

.removePaddingB{
	padding-bottom: 0 !important;
}

.paddingTop{
	padding-top: 50px !important;
}
.paddingBottom{
	padding-bottom: 50px !important;
}
.setPadding{
	padding: 50px !important; 
}
.setPaddingsH{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.setPaddingsV{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.img-modal{
    margin: 50px 0px 88px 0;
}
.rectangle-33 {
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: rgba(235, 240, 241, 1);
	border-radius: 7px;
	height: 175px;
	width: 90%;
  }
  .rectangle-13 {
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: rgba(235, 240, 241, 1);
	border-radius: 7px;
	height: 75px;
	width: 100%;
  }
  .bexiga {
	letter-spacing: 0px;
	min-height: 16px;
	width: 111px;
  }
  .exo2-semi-bold-tuna-16px {
	color: var(--tuna);
	font-family: "Exo 2-Bold";
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
  }
  :root {
	--tuna: rgba(50, 59, 67, 1);
  }
  .avanar {
	height: 150px;
	letter-spacing: 0px;
	line-height: 19.2px;
	min-height: 59px;
	text-align: center;
	width: 400px;
	align-items: center;
	vertical-align: middle;
	position:relative !important;
	top: 50%;
	transform: translateY(-50%); 
	margin-bottom: 10%;
  }
  .exo2-bold-white-16px {
	color: white;
	font-family: "Exo 2-Bold";
	font-size: 35px;
	font-style: normal;
	text-align: center !important;
	font-weight: 700;
	align-items: center !important;
	vertical-align: middle !important;
	position:relative !important;
	top: 50%;
	transform: translateY(-50%); 
  }
  .valign-text-middle {
	display: flex;
	flex-direction: row;
	justify-content: center !important;
	text-align: center !important;
	align-items: center !important;
	vertical-align: middle;
	position:relative !important;
	top: 50%;
	transform: translateY(-50%); 
	
  }
.div-select{
	width: 250px;
	overflow:hidden;
}
.div-select select {      
	background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880; 
	background-position: 205px center; 
	width: 100%; 
	height:100%; 
	font-family: 'Exo 2-Regular'; 
	font-size:18px;
	padding:13px 20px 13px 12px;
	color:#fff;
	text-indent: 0.01px;
	text-overflow: "";  
} 
.wall{
	display: none;
	width: 100%;
	height: 100%;
  }
   

  .wall:target{
	display: block;
  }
